/.devfolder
/.vscode
/Modules/capture/__pycache__/
/Modules/oui_lookup/__pycache__/
/GeoLite2 Databases
*.pyc
.dccache
Settings.ini
debug.log
Blacklist.ini
blacklist.log
debug.txt
GTA_V_Session_Sniffer-x64.exe
GTA_V_Session_Sniffer-x86.exe
